html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font,
ins, kbd, q, s, samp, small, strike, strong, sup,
tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    word-wrap: break-word;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing: border-box;
    /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input[type="text"],
input[type="email"],
input[type="url"] {
    border: none;
}

textarea {
    border: none;
    resize: none;
    outline: none;
    min-block-size: auto;
}

input[type="button"],
input[type="submit"],
button{
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}

input[type="button"],
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"],
input[type="submit"]:active,
input[type="submit"]:focus{
    outline: none !important; /* Убирает оранжевую рамку при фокусе */
    /* background: none; */
}

input[type="checkbox"]{
    margin: 0;
}

/* * Select * */
select{
    /* Отмена стилей по умолчанию */
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* 	-ms-appearance: none;
     */	appearance: none!important;
    text-indent: 0.01px;
    text-overflow: '';
    border: none;
    line-height: 1.0;
    padding: 0;
    background: none;
}

select:focus{
    outline: none;
}

figure{
    margin: 0;
}

